.content-game{
    display: flex;
    justify-content: center;
}

.header-scene{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

#img-play-game{
    width: 30px;
}

#btn-control-game{
    width: 58px;
}

#img-lamp__scene-one{
    width: 160px;
    position: relative;
    left: 42px;
}

#img-plant__scene-one{
    width: 153px;
}
#img-couch__scene-one{
    width: 338px;
}

#img-table__scene-one{
    width: 101px;
    position: relative;
    top: 60px;
    left: 30px;
}

#img-plantm__scene-one{
    width: 100px;
    position: relative;
    top: -37px;
    left: -73px;
}

.btn-exit-game{
    width: 50px;
    color:#fff;
    font-family: Fredoka One;
    font-size: 18px;
    text-decoration: none;
}

.btn-reload-game{
    color: white;
    font-family: 'Fredoka One';
    width: 55px;
    font-size: 15px;
}

.img-trash{
    width: 47px;
    position: relative;
    top: -58px;
}

.one{
    left: 206px;
}

.two{
    left: 300px;
}

.three{
    left: 394px;
}

.four{
    left: 488px;
}

.five {
    left: 584px;
}

.path-bottom{
    width: 100%;
    position: relative;
    border: 1px solid #E3584B;
    top: 9px;
}
.path-top{
    width: 100%;
    position: relative;
    border: 1px solid #E3584B;
    top: -100px
}